<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Raleway:300,400,700,800&display=swap"
          rel="stylesheet">
    

    <title>Usługi remontowo - budowalne Adam Mech</title>
</head>
<body>
<header class="header">
    <h1>
        <a href="#" class="logo">
            Usługi remontowo - budowalne Adam Mech
        </a>
    </h1>
    <nav class="desktop-menu">
        <ul class="desktop-menu-list">
            <li><a href="#oferta">Oferta</a></li>
            <li><a href="/galeria.html">Galeria</a></li>
            <li><a href="#kontakt">Kontakt</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--spin" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
    </button>
</header>
<div class="main-container">

    <section class="mobile-menu">
        <div id="myLinks" class="">
            <a href="#oferta">Oferta</a>
            <a href="/galeria.html">Galeria</a>
            <a href="#kontakt">Kontakt</a>
            
        </div>
    </section>
    <section class="banner-section">
        <div class="banner-head">
            <h2 class="banner-title">
                Usługi remontowo-budowalne<br>
                Adam Mech
            </h2>

            <a href="tel:+48787430515">
                <button class="button-title">
                    <i class="im im-phone"></i> 787 430 515
                </button>
            </a>
        </div>
 
    </section>
    <section class="promo-section" id="oferta">
        <div class="promo-head">
            <h2>Oferuję:</h2>
        </div>
        <div class="promo-container">

            <ul class="lista-uslug">
                <li>ocieplenia budynków</li>
                <li>zabudowy gipsowo-kartonowe</li>
                <li>adaptacja pomieszczeń</li>
                <li>szpachlowanie</li>
                <li>malowanie</li>
                <li>płytkowanie</li>
                <li>inne prace remontowo-budowalne </li>
            </ul>
        </div>
    </section>
  
    <section class="contact-section" id="kontakt">
        <div class="div-contact">
            <div class="contact-head">
                <h3 class="contact-title">Masz pytania?</h3>
                <p class="contact-text">Zapraszam do kontaktu</p>
            </div>
            <div class="tele-adress">
                <ul class="email-phone">
                    <li><a href="mailto:info@Shop Online RWD.xyz"><i class="im im-mail"></i>
                        kontakt@remonty-ostrow.pl</a>
                    </li>
                    <li><a href="tel:+48787430515"><i class="im im-phone"></i>787 430 515</a></li>
                </ul>
            </div>
            <p class="contact-text">
                O firmie:<br>
                Adam Mech <br>
                NIP 6222766409<br>
                REGON 380332325<br>
            </p>
        </div>

        <div class="div-input">
            <div class="input-container">
                <div class="contact-head">
                    
                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2475.9775962307335!2d17.82924891566238!3d51.64193537965752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ab5428937acbb%3A0x4349c4a9c4a24d38!2sElewacje%20i%20wyko%C5%84czenia%20wn%C4%99trz!5e0!3m2!1spl!2spl!4v1602102289585!5m2!1spl!2spl" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                </div>
            </div>

        </div>


    </section> 

</div>
<footer class="footer-section">
    <div class="footer-logo">
        <h2>
            <a href="#" class="logo">
                Usługi remontowo - budowalne Adam Mech
            </a>
        </h2>
        <small class="footer-text">
            © 2020 Adam Mech, All Rights Reserved<br>
           
        </small>
    </div>
    <ul class="footer-menu footer-text">
        <li><a href="#">Polityka Prywatności</a></li>
        <li>Strona stworzona przez <a href="https://vertago-web.000webhostapp.com/">Vertago</a></li> 
    </ul>
</footer>


</body>
</html>