@import 'reset.css';
@import 'flipper.css';

@import "hamburgers.css";

@import "iconmonstr-iconic-font.css";

$color1:#E71D36;
$color2:#2EC4B6;
$color3: #EFFFE9;
$color4: #5c5c5c;
$bialy: #F5F5F5;
$bronze: rgb(205, 127, 50);

body {
  font-family: 'Lato', sans-serif;
  
  background-image: linear-gradient(bottom, $bialy, snow);
  margin: auto;
  display: block;
  color: $color4;
  background-color: $bialy;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0px 3px 6px silver;
  opacity: 1;
  .desktop-menu{
    display: none;
  }
  .logo {
    font-size: 32px;
    color: $color1;
    opacity: 1;
    text-decoration: none;
    margin-left: 15px;
  }
}

#myLinks {
  display: none;
  align-content: space-around;
  flex-direction: column;
  background: $color3 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px silver;
  height: 176px;
  padding: 15px;
  transition: 0.5s;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  a{
    text-decoration: none;
    text-transform: uppercase;
    color:$color4;
    font-weight: bold;
    font-size: 11px;
    margin: 12px;
    transition: 0.3s;
  }
  a:hover{
   color:$color4;
    transition: 0.3s;

  }
}

.banner-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5px;
  padding-top: 15px;
  // Zdjęcie do wstawienia
  // background-image: url("../images/visa.jpg");
  background-image: url("../images/tlo1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // background-color: transparent;
  height: 85vh;
  width: 100%;
}


.banner-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
 
}

.banner-title {
  font-size: 49px;
  color: $color4;
  font-weight: normal;
  margin: 40px;
  line-height: normal;
}

.button-title {
  background: $color1 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px silver;
  border-radius: 40px;
  opacity: 1;
  border: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  width: 310px;
  height: 67px;
  margin-bottom:15%;
  &:hover{
    box-shadow: 5px 10px 14px $color4;
    transition: 0.3s;
  }
  img{
      height: 2rem;
  }
}

.banner-title {
  font-size: 4rem;
  color: $color4;
  font-weight: bold;
  margin: 40px;
  min-height: 80px;
  min-width: 200px;
  text-shadow: 2px 2px 8px $color3 ;
}

.banner-text {
  font-size: 16px;
  font-weight: normal;
  color: $color4;
  text-align: center;
  font-family: "Open Sans", serif;
  margin: 0;
  width: 308px;
  height: 57px;
}

.lista-uslug{
    list-style: inside;
    li{
        margin:3%;
        font-size: 1.5rem;
    }
}

.banner {
  width: 100%;
  height: 167px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.promo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  h2{
    font-size: 30px;
    color:$color4;
    margin:30px;
  }
  h3{
      text-align: center;
      font-size: 20px;
      letter-spacing: 6px;
      color: $color4;
      opacity: 1;
      font-weight: bolder;
      margin: 10px 0 10px 0;
  }
  p{
    text-align: center;
    font-size: 17px;
    color: $color4;
    opacity: 1;
    width: 120px;
    padding: 20px 0 20px 0;
  }
}

.promo {

}

.bg-logo-red{
  content: "";
  position: relative;
  border-radius: 50% 50%;
  background: $color2 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 63px;
  height: 63px;
}

.bg-logo-blue {
  border-radius: 50% 50%;
  background: $color1 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 63px;
  height: 63px;
  position: relative;
  left: 12px;
}

.bg-logo-green {
  border-radius: 50% 50%;
  background: $color3 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 63px;
  height: 63px;
}

.info-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.info{
  height: auto;
  width: 315px;
  background: $bialy;
  margin: 15px;
}

.info-text{
  background-color: $bialy;
  margin:10px;
  h2{
    margin: 10px 0 30px 0;
    text-align: left;
    font-size: 35px;
    color: $color4;
    height: 100%;
    display: block;
  }
  p{
    text-align: left;
    font-size: 19px;
    color: $color4;
    height: 100%;
    display: block;
  }
}

.info-img{
  margin: 10px;

  .macbook{
    height: 110px;
    width: 190px;
  }
  .iphone{
    height: 135px;
    width: 175px;
  }


}

.bg-green{
  background: $color2;
  border: 1px solid $color1;
  border-radius: 5px;
  height: 190px;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin:0;
  .trumpet{
    height: 200px;
    width: 290px;
  }
}

.pricing-section{
  // background-color: $color3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    font-size:42px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.pricing{
  display: flex;
}

.pricing-num{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.pricing-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-bottom: 20px;
}

.price-basic {
  display: flex;
  justify-content: space-around;

  width: 293px;
  height: auto;
  border: 1px solid $bronze;
  border-radius: 18px;
  position: relative;
  margin: 23px;
}

.price-premium {
  display: flex;
  justify-content: space-around;
  width: 293px;
  height: auto;
  border: 1px solid gold;
  border-radius: 18px;
  position: relative;
  margin: 18px;
}

.price-pro {
  display: flex;
  justify-content: space-around;
  width: 340px;
  height: auto;
  border: 1px solid silver;
  border-radius: 18px;
  position: relative;
  box-shadow: 5px 10px 27px silver;
  margin: 23px;
}

.price-btn {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  position: absolute;
  bottom: 0;
  margin-bottom: -25px;
  text-align: center;
  font-size: 13px;
  line-height: 50px;
  text-decoration: none;
  font-weight: 700;

}

.price-btn:hover{
  box-shadow: 5px 10px 14px $color4;
  transition: 0.3s;
}

.basic-btn {
  background-color: rgb(205, 127, 50);
  box-shadow: 5px 10px 14px silver;
}

.pro-btn {
  background-color: silver;
  box-shadow: 5px 10px 14px silver;
}

.premium-btn {
  background-color: gold;
  box-shadow: 5px 10px 14px silver;

}

.price-top {
  text-align: center;
}

.price-title {
  font-weight: 700;
  font-size: 20px;
  color: #13253B;
  padding: 20px 0 14px 0;
}

.price-pro {
  font-size: 21px;
}

.price-title {
  font-size: 21px;
}

.price-value {
  font-size: 46px;
  padding: 20px 0 20px 0;
}

.value-text {
  font-size: 12px;
  font-weight: 700;
  color: $color4;
}

.price-basic .price-value {
  color: $bronze;
}

.price-pro .price-value {
  color: silver;
}

.price-premium .price-value {
  color: gold;
}

.price-list {
  font-weight: 400;
  font-size: 14px;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.pro-price .price-list {
  line-height: 46px;
}

.price-list-elements:first-child {
  text-transform: uppercase;

}

.price-list-elements {
  position: relative;

  margin: 15px;
}

.price-list-elements:before {
  content: '';
  // background: url('../images/Ckechmark-1.svg');
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  margin-right: 10px;
  width: 11px;
  height: 11px;
  position: absolute;
  left: -24px;
  top: 50%;
  margin-top: -6px;
}

.price-basic .price-list-elements:nth-child(4):before {
  content: '';
  // background: url("../images/Close.svg");
}

.price-basic .price-list-elements:nth-child(5):before {
  content: '';
  // background: url("../images/Close.svg");
}

.price-pro .price-list-elements:nth-child(5):before {
  content: '';
  // background: url("../images/Close.svg");
}

.container-title-pricing {
  padding: 50px;
}

.contact-section{
  margin:10px;
  background-color: $bialy;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3{
    font-size:42px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
    }
  p{
    font-size: 16px;
    text-align: left;
    margin: 5px
  }
}

.tele-adress{
  margin: 15px;
  a {
    display: inline-block;
    text-align: left;
    margin: 10px;
    color: #A5A5A5;
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
}

input[type=text]:hover{
  border: 2px solid red;
}

input[type=checkbox] {
  display: none;
  font-family: Raleway;
  font-size: 10px;
}

label[for=checkBoxForm] {
  font-size: 10px;
  font-family: Raleway;
  color: #707070;
  opacity: 1;
  font-weight: 400;
  width: 340px;
  float: left;
  padding-left: 34px;
  cursor: pointer;
  position: relative;
  text-transform: none;
  letter-spacing: 2px;
}

input[type=checkbox] + label[for=checkBoxForm]:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  border: 1px solid #95989A;
  border-radius: 4px;
  opacity: 1;
  width: 24px;
  height: 24px;
  font-size: 10px;
  font-family: Raleway;
}

#checkBoxForm:checked ~ label[for=checkBoxForm]:before {
  // background: transparent no-repeat center center url("../images/Checkmark.svg");
}

#name {
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #95989A;
  font-size: 15px;
  margin-bottom: 30px;
  padding-top: 15px;
  font-family: Raleway;
}

#mail {
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #95989A;
  font-size: 15px;
  margin-bottom: 30px;
  padding-top: 15px;
  font-family: Raleway;

}

.input-container{
  width: 100%;
  max-width: 350px;
  margin: 10px;
}

.input-contact{
  label{
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3.28px;
    color: $color1;
    opacity: 1;
    text-transform: uppercase;
  }
}

.contact-button{
  margin: 15px;
  background: $color1 0% 0% no-repeat padding-box;
  box-shadow: 5px 10px 14px silver;
  border-radius: 40px;
  opacity: 1;
  border: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 310px;
  height: 67px;
  &:hover{
    box-shadow: 5px 10px 14px $color4;
    transition: 0.3s;
  }
}

.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  .footer-logo{
    margin-left: 15px;
    .logo{
      font-size: 32px;
      color: $color1;
      opacity: 1;
      text-decoration: none;
    }
  }
  .footer-menu{
    display: flex;
    width: 15%;
    justify-content: space-around;

  }


}
.footer-text{
  text-align: left;
  font-size: 11px;
  letter-spacing: 0;
  color: #A5A5A5;
  opacity: 1;
}

@media (min-width: 1000px) {
  .logo {
    margin-left: 30px;
  }
  .header {
    margin: auto;
    width: 100%;
    .hamburger {
      display: none;
    }
    .desktop-menu-list {
      display: flex;
      a {
        letter-spacing: 3.28px;
        text-decoration: none;
        text-transform: uppercase;
        color: $color4;
        font-size: 11px;
        padding: 30px;
        display: block;
        opacity: 1;
        font-weight: bold;
        border-bottom: 4px solid transparent;
      }
      a:hover {
        border-bottom: 4px solid $color1;
      }
    }

    .desktop-menu {
      display: flex;
    }
  }
  .main-container {

    max-width: 1400px;
    margin:auto;
    padding: 0 5px 0 5px;



    .banner {
      height: auto;
      margin: auto;

    }

    .promo-section {
      //width: 1352px;
      width: auto;
      height: 530px;
      margin: auto;
      justify-content: normal;
      .promo-head{
        margin: 25px
      }

    }

    .promo-container {
      display: flex;
      justify-content: space-around;
      width: 100%;



      .promo {
        border-radius: 50% 50%;
        //background: #FB3B64 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 63px;
        height: 63px;
        img{
          position: relative;
          left: 35%;
          width: 63px;
          height: 63px;
        }

        &:nth-of-type(1){
          background: $color2 ;
        }
        &:nth-of-type(2){
          background-color: $color1 ;
        }
        &:nth-of-type(3){
          background-color: $color3;

        }

      }
    }

    .info-section {
      //width: 1352px;
      width: auto;
      margin: auto;


      .info {
        display: flex;
        width: auto;
        height: 370px;
        justify-content: space-around;

        .info-text{
          p{
            height: 50%;
          }
        }

        &:nth-of-type(1) {
          flex-direction: row-reverse;
          .info-text{
            p {
              border-bottom: 4px solid $color4;
            }
          }
        }
        &:nth-of-type(2) {
          .info-text{
            p {
              border-bottom: 4px solid $color1;
            }
          }
        }
        &:nth-of-type(3) {
          .info-text{
            p {
              border-bottom: 4px solid $color2;
            }
          }

        }
      }

      .info-text {
        display: block;
        width: 50%;
        text-align: left;
        padding: 35px 100px 50px 35px;
        h2 {
          height: auto;
        }
        p {
          height: auto;
        }
      }

      .info-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;

        .macbook {
          width: 386px;
          height: 219px;
        }

        .iphone {
          width: 426px;
          height: 328px;
        }

      }

      .bg-green {
        width: 440px;
        height: 370px;
        border: 1px solid $color1;

        .trumpet {
          width: 296px;
          height: 208px;
        }
      }

      .text-green {
        background: $bialy 0% 0% no-repeat padding-box;

        width: 623px;
        height: 370px;
        border-radius: 5px;
        margin: 0
      }

      .div-green {
        width:100%;
        max-width: 1360px;

        //width: 1322px;
        display: flex;
        justify-content: space-between;
        margin: 15px;
      }
    }

    .pricing-section {
      background-color: $bialy;
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //flex-direction: row;
      h2 {
        font-size: 42px;
        margin-top: 30px;
        margin-bottom: 15px;

      }

      .pricing-container {
        display: flex;
        flex-direction: row;
        height: 616px;

        .pricing {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .price-list {
          height: auto;
        }

        .price-pro {
          height: 500px;
        }

        .price-basic {
          height: 461px;
        }

        .price-premium {
          height: 461px;
        }
      }
    }

    .contact-section {
      padding: 0 15% 0 15%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 0;
      margin-right: 0;
    }

    .mobile-menu {
      display: none;
    }




  }
  .footer-section{
    box-shadow: 3px 3px 6px #000029;

    .footer-logo{
      .logo{
        font-size: 32px;
        color: $color1;
        opacity: 1;
        text-decoration: none;
      }
      small{
        margin-left: 30px;
      }
    }
  }

}